h1 {
    color: rgb(160,20,65);
}

h2, h3, h4, h5, h6 {
    color: rgb(111, 111, 111);
}

p {
    color: rgb(0, 0, 0);
}

.accent {
    font-weight: bold;
}

.emphasize {
    font-style: italic;
}

.important {
    text-decoration: underline;
}